<ion-view view-title="Զամբյուղ">
  <ion-content>
    <ion-list>
        <ion-item class="row-flex">
        	<div class="col-xs-6 col-sm-6">
        		<i class="ion-ios-close-empty" style="color: #cf5c25;"></i>
	         	Կապուչիտա 	
        	</div>
	        <div class="col-xs-6 col-sm-6">
	        	<button ng-click="orderCount=orderCount-1" ng-init="orderCount=1">-</button>
		    	<span>{{orderCount}}</span>
		    	<button ng-click="orderCount=orderCount+1">+</button>
		    	{{orderCount*1400}} Դրամ
		    </div>
        </ion-item>
        <ion-item class="row-flex">
        	<div class="col-xs-6 col-sm-6">
        		<i class="ion-ios-close-empty" style="color: #cf5c25;"></i>
	         	Գլյասսե 	
        	</div>
	        <div class="col-xs-6 col-sm-6">
	        	<button ng-click="orderCount=orderCount-1" ng-init="orderCount=1">-</button>
		    	<span>{{orderCount}}</span>
		    	<button ng-click="orderCount=orderCount+1">+</button>
		    	{{orderCount*1000}} Դրամ
		    </div>
        </ion-item>
        <ion-item class="row-flex">
        	<div class=""></div>
          	<button class="button button-block button-positive col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" type="submit">Պատվիրել</button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
